/* General styles */
body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

h1 {
  margin-bottom: 20px;
}

/* Animation styles */
.animated-item {
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.animated-item.animate {
  transform: scale(1.5);
  opacity: 0.5;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: lightcoral;
  color: white;
  border-radius: 5px;
  margin-top: 20px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: darksalmon;
}

/* Dark mode styles */
body.dark-mode {
  background-color: #333;
  color: white;
}

button.dark-mode {
  background-color: darkslategray;
}
